body{
  /* height: 100vh; */
  background-color: white;
  margin-bottom: -2250px;
}


:root{
   --BevyBuy-purple: #B042B4;
   --expire-date-bg: #acacac2c;
   --expire-date-text: #000000a6;
}

p{
  margin-bottom: 0;
}

hr{
  margin: 3px;
}
/* Jumbotron header */

#my-jumbotron{
  padding: 1rem;
  text-align: center;
  background-color: white;
  /* height: 100vh; */
}

#my-jumbotron h2{
  font-weight: 500;
  font-size: calc(1rem + 1.5vw)
}

/* Search Area */
.search-area-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 50px;
  /* margin-bottom: 30vh; */
}

.area-input-box{
  width: calc(200px + 15vw);
}

#search-btn{
  padding: 0.1rem 3em;
  border-radius: 5px;
}

#error{
  font-size: 1rem;
  color: red;
}

#error-icon{
  color: red;
  font-size: 1.5rem;
  padding: 0 10px;
}

#error-wrapper{
  padding: 8px;
  display: flex;
  align-items: center;
}


/* fontawasome icons */
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon > span {
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 2px 3px 3px #9c9c9c;
}

.icon::before {
    content: "\f0c0";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 2rem;
    margin-right: 0.8rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .icon::after {
    content: "\f103";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--BevyBuy-purple);
    font-style: normal;
    font-variant: normal;
    font-size: 4rem;
    text-shadow: 0px -6px 5px #9c9c9c;
    margin-left: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  /* fontawasome icons ends*/

/* Product Listning Area */

.product-item-wrapper{
  padding: .2rem;
  margin: 1rem 0;
}

.card-footer{
  background-color: var(--expire-date-bg);
  color: var(--expire-date-text);
  font-weight: 600;

}

.list-group-item {
    padding: .2rem 1.25rem;
    border: 0px;
}
/* .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit:scale-down;
    overflow: hidden;
}  */

/* Product Listning Area ends */

  /* mail list */
#model-mail-list {
  display: none;
}

.form-control{
  width: 100px%;
}




/* #yourEmail{
  padding: 5px;
}

.mailing-list{
  margin-bottom: 20px;
}

.mail-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

} */

/* .mail-list-wrapper > p{
  padding: 1rem;
} */
  /* mail list ends*/

  /* product modal */
#modal-content{
  padding: 0.5rem 0;
}

/* product model */
.modal .modal-dialog {
  max-width: calc(200px + 40vw);
}

/* product model ends */

/* go to top button */
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 35%;
      }

      #myBtn:hover {
        background-color: #555;
      }
/* go to top button */

/* class red text */
/* .red-text{
  color: red;
} */



/* ***********MEDIA QUERY************ */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .modal {
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .product-listning-wrapper{
    padding: 1rem;
  }

  .product-item-wrapper{
    padding: 1rem;
  }

  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    /* overflow: hidden; */
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .product-listning-wrapper{
    padding: 2rem;
  }

  .product-item-wrapper{
    padding: 1rem;
  }

  .card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
    /* overflow: hidden; */
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


@media only screen and (max-width: 650px) {
  /* body {
    background-color: lightblue;
  } */

  #productForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #search-btn{
    margin-top: 5px;
    padding: 0.1rem 1em;
  }

  .search-area-wrapper {
    margin-top: 1rem;
    margin-bottom: 50px;
    /* margin-bottom: 30vh; */
  }

  #myBtn {
        border-radius: 50%;
        bottom: 10vh;
        right: 30px;
  }



}