<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    //th:fragment="footer"  -- fragment for footer
    //update the href links
    <div th:fragment="footer" class="container-fluid bg-light text-dark footer">
        <div class="row p-3">
        <div class="col-md-1"></div>

        <div class="col-md-3">
            <img
                    src="images/aboutUs/logo_transparent_background.png"
                    width="20%"
                    class="mb-3"
            />

            <p>&copy 2021 BevyBuy Group</p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-2 p-1">
            <h4>MAIN MENU</h4>
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{homepage}">Home</a>
                </li>
                <li>
                    <a th:href="@{aboutus}">About</a>
                </li>
                <li>
                    <a th:href="@{products}">Products</a>
                </li>
                <li>
                    <a th:href="@{seller_reg}">Seller Registration</a>
                </li>
                <li>
                    <a th:href="@{seller_info}">Seller FAQ</a>
                </li>
            </ul>
        </div>

        <div class="col-md-2">
            <h4>COMPANY</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#">The Company</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
                <li>
                    <a href="#">Press Release</a>
                </li>
            </ul>
        </div>

        <div class="col-md-2">
            <h4>FIND US ON</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
    </div>
    </div>

</body>
</html>