<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <!--style reference-->
   <style>
        .carousel{
    background: white;
    margin-top: 20px;
}
    .carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn’t load */
}
    .carousel-inner img {
      height: 50%;
    }

   
    
        </style>
    <title>Let's BevyBuy!</title>
  </head>

  <body>


  <!-- Start of NavBar -->

  <div th:insert="fragments/navbar.html :: navbar"></div>

  <!-- End of NavBar -->


          <!--Jumbotron component-->
          <div class="row">
              <div class="col">
          <div class="jumbotron bg-info text-center">
            
                <h1 class="display-4 text-light">Buy Together. Bevybuy.</h1>
                <p class="lead text-light">Want something but it's too far away from you? Use BevyBuy.</p>
                <hr class="my-4">
                <p class="text-light">With BevyBuy, group buy just got easier. One place, for all</p>
                <a class="btn btn-light btn-lg" href="#" role="button">Buy now</a>
                
                
              </div>
            </div>
        </div>


              <!--Header component-->
                <div class="container">
                    <div class="row">
                        <div class="col">
                    
                    <h1 class="display-5 text-center text-info"> Our best deals, just for you.</h1>
                </div>
                </div>
                
            <!--Carousel component-->
                    <div class="row">
                        <div class="col">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/homepage/henry-perks-BJXAxQ1L7dI-unsplash copy.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                    <h3>Buy an Iphone 13</h3>
                                    <p>Starts at $1300</p>
                                    <a href="#" class="btn btn-primary">Buy now</a>
                                </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/homepage/lucrezia-carnelos-wQ9VuP_Njr4-unsplash copy.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Buy an Iphone 14</h3>
                                <p>Starts at $1400</p>
                                <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/homepage/thom-holmes-J2e34-1CVVs-unsplash copy.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Buy an Iphone 15</h3>
                                <p>Starts at $1500</p>
                                <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <!--More info-->
            <h3 class="display-4 text-info text-center">Featured Products</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                      <div class="card">
                          <img src="images/homepage/lucrezia-carnelos-wQ9VuP_Njr4-unsplash copy.jpg"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Iphone 13</h5>
                          <p class="card-text">Coated with all that glitters is gold</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="card">
                          <img src="images/homepage/lucrezia-carnelos-wQ9VuP_Njr4-unsplash copy.jpg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Iphone 13</h5>
                            <p class="card-text">Coated with all that glitters is gold</p>
                            <a href="#" class="btn btn-primary">Buy now</a>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="images/homepage/lucrezia-carnelos-wQ9VuP_Njr4-unsplash copy.jpg" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Iphone 13</h5>
                          <p class="card-text">Coated with all that glitters is gold</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                           
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="card">
                              <img src="images/homepage/lucrezia-carnelos-wQ9VuP_Njr4-unsplash copy.jpg" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Iphone 13</h5>
                                <p class="card-text">Coated with all that glitters is gold</p>
                                <a href="#" class="btn btn-primary">Buy now</a>
                              
                            </div>
                          </div>
                        </div>
                        
                     
                  </div>

                  <div>
                      <div>
                          
                      </div>
                  </div>
                  

                  <div class="row">
                    <div class="col">
                <div class="jumbotron bg-info text-center">
                  
                      <h1 class="display-4 text-light">Know our Mission.</h1>
                      <p class="lead text-light">At Bevybuy, we care about our customers. Understand our mission, so we can deliver to you, better.</p>
                      <a class="btn btn-light btn-lg" href="#" role="button">Know more</a>
                      
                      
                    </div>
                  </div>
              </div>
          </div>

                </div>

  <!-- Start of Footer -->

  <div th:insert="fragments/footer.html :: footer"></div>


  <!-- End of Footer -->


  </body>
</html>




            

           
            
          
   
            
            